/* You can add global styles to this file, and also import other style files */
@import '~@scion/workbench/theming';

@include wb-theme();

body {
  font-family: Roboto, Arial, sans-serif;
}

.cursor-pointer {
  cursor: pointer
}

.h-100 {
  height: 100%;
}

.p-1 {
  padding: .25rem;
}

.pl-1 {
  padding-left: .25rem;
}

.pr-1 {
  padding-right: .25rem;
}

.pt-1 {
  padding-top: .25rem;
}

.pb-1 {
  padding-bottom: .25rem;
}
