<clr-datagrid [clrDgLoading]="isLoading" [(clrDgSelected)]="selectedActivities" class="h-100 p-1">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" [wbRouterLink]="getSelectedLink()"
              [disabled]="selectedActivities.length !== 1">
        <clr-icon shape="folder-open"></clr-icon>
        Open
      </button>
    </div>
    <div class="btn-group">
      <clr-dropdown>
        <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger
                [disabled]="selectedActivities.length <= 1">
          Analyse
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button type="button" (click)="onAnalyseAvgWatts()" clrDropdownItem>Average watts</button>
          <button type="button" (click)="onAnalyseElapsedTime()" clrDropdownItem>Elapsed time</button>
          <button type="button" (click)="onAnalyseAverageHeartrate()" clrDropdownItem>Average heartrate</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-dg-action-bar>

  <clr-dg-column [clrDgSortBy]="'type'">Type</clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">Title</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="'start_date'">Date</clr-dg-column>
  <clr-dg-column [clrDgField]="'average_watts'">Avg. watts</clr-dg-column>
  <clr-dg-column [clrDgField]="'max_watts'">Max watts</clr-dg-column>
  <clr-dg-column [clrDgField]="'distance'">Km</clr-dg-column>
  <clr-dg-column [clrDgField]="'average_speed'">Avg. km/h</clr-dg-column>
  <clr-dg-column [clrDgField]="'max_speed'" [clrDgSortOrder]="descSortOrder">Max km/h</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="'moving_time'">Time</clr-dg-column>
  <clr-dg-column [clrDgField]="'average_heartrate'">Avg. bpm</clr-dg-column>
  <clr-dg-column [clrDgField]="'max_heartrate'">Max bpm</clr-dg-column>
  <clr-dg-column [clrDgField]="'total_elevation_gain'">Total elev. gain</clr-dg-column>

  <clr-dg-row *clrDgItems="let activity of activities" [clrDgItem]="activity">
    <clr-dg-cell>
      <ng-container [ngSwitch]="activity.type">
        <div *ngSwitchCase="'Ride'" class="material-icons">directions_bike</div>
        <div *ngSwitchCase="'VirtualRide'" class="material-icons">important_devices</div>
        <div *ngSwitchCase="'Workout'" class="material-icons">fitness_center</div>
        <div *ngSwitchCase="'Run'" class="material-icons">directions_run</div>
        <div *ngSwitchCase="'Yoga'" class="material-icons">emoji_people</div>
        <div *ngSwitchCase="'Swim'" class="material-icons">pool</div>
        <div *ngSwitchCase="'Hike'" class="material-icons">terrain</div>
      </ng-container>
    </clr-dg-cell>
    <clr-dg-cell>{{activity.name}}</clr-dg-cell>
    <clr-dg-cell>{{activity.start_date | date}}</clr-dg-cell>
    <clr-dg-cell>{{activity.average_watts}}</clr-dg-cell>
    <clr-dg-cell>{{activity.max_watts}}</clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="activity.distance">
        {{metersToKilometers(activity.distance)}}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="activity.average_speed">
        {{metersPerSecondToKilometersPerHour(activity.average_speed)}}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="activity.max_speed">
        {{metersPerSecondToKilometersPerHour(activity.max_speed)}}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>{{secondsToTime(activity.moving_time)}}</clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="activity.has_heartrate">
        {{activity.average_heartrate}}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="activity.has_heartrate">
        {{activity.max_heartrate}}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="activity.total_elevation_gain">
        {{activity.total_elevation_gain}} m
      </span>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="isInspectionModalOpen" clrModalSize="xl">
  <h3 class="modal-title">Watt average analysis</h3>
  <div class="modal-body">
    <app-statistic-compare-line-chart [lineChartData]="lineChartData"
                                      [lineChartLabels]="lineChartLabels"></app-statistic-compare-line-chart>
  </div>
</clr-modal>
